// _images.scss

$whiteSvg: '%23fff';

$svg-data-prev-white: "<?xml version='1.0' encoding='UTF-8'?><svg xmlns='http://www.w3.org/2000/svg' id='Isolation_Mode' data-name='Isolation Mode' viewBox='0 0 24 24' width='512' height='512'><path d='M16.041,24,6.534,14.48a3.507,3.507,0,0,1,0-4.948L16.052,0,18.17,2.121,8.652,11.652a.5.5,0,0,0,0,.707l9.506,9.52Z' fill='#{$whiteSvg}'/></svg>";
$encoded-svg-prev-white: url('data:image/svg+xml,' + $svg-data-prev-white);

$svg-data-next-white: "<?xml version='1.0' encoding='UTF-8'?><svg xmlns='http://www.w3.org/2000/svg' id='Isolation_Mode' data-name='Isolation Mode' viewBox='0 0 24 24' width='512' height='512'><path d='M8.127,24l9.507-9.52a3.507,3.507,0,0,0,0-4.948L8.116,0,6,2.121l9.518,9.531a.5.5,0,0,1,0,.707L6.01,21.879Z' fill='#{$whiteSvg}'/></svg>";
$encoded-svg-next-white: url('data:image/svg+xml,' + $svg-data-next-white);