@use "_variables" as v;

.multi-item-carousel {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;

  &.pointer-event {
    touch-action: pan-y;
  }

  &-inner {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));

    > * {
      flex-shrink: 0;
      max-width: 100%;
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
    }

    .carousel-item {
      flex: 1 0 0;
      display: block;
      margin: 0;
      transition: none;
      width: unset;

      .image-container {
        width: 100%;
        padding-top: 50%;
        position: relative;

        img {
          display: block !important;
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          height: 100%;
          object-fit: cover;
        }
      }

      &.item-to-left {
        transform: translateX(-100%);
      }

      &.item-to-right {
        transform: translateX(100%);
      }

      &.transitionleft,
      &.transitionright {
        transition: transform 0.6s ease;
      }

      &.transitionleft {
        transform: translateX(-100%);
      }

      &.transitionright {
        transform: translateX(100%);
      }

      &.transitionback {
        transform: translateX(0);
        transition: transform 0.6s ease;
      }

      @for $x from 2 through 6 {
        &.transitionright.x#{$x},
        &.transitionleft.x#{$x},
        &.transitionback.x#{$x} {
          transition-duration: 0.6s / $x;
        }
      }
    }

    @for $i from 1 through 12 {
      .carousel-item.item-#{$i} {
        flex: 0 0 auto;
        width: calc(100% / 12 * $i);
      }
    }

    @for $i from 0 through length(v.$breaks) - 1 {
      @media (min-width: map-get(v.$grid-breakpoints, nth(v.$breaks, $i + 1))) {
        @for $j from 1 through 12 {
          .carousel-item.item-#{nth(v.$breaks, $i + 1)}-#{$j} {
            flex: 0 0 auto;
            width: calc(100% / 12 * $j);
          }
        }
      }
    }
  }
}
