$base_font: 'Arial', sans-serif;
$breaks: (xs, sm, md, lg, xl, xxl);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

$fontSizeCard:(
        xs: 0.7rem,
        sm: 0.7rem,
        md: 0.8rem,
        lg: 0.9rem,
        xl: 0.9rem,
        xxl: 1rem
)
